@font-face {
    font-family: ApercuBold;
    src: url("../fonts/Apercu\ Pro\ Bold\ Italic.otf");
}

.main {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.nav_ul_div ul {
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_ul_div ul li {
    display: inline-block;
}

.nav_ul_div ul li a {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: black;
    transition: transform 0.3s ease-in-out;
}
.nav_ul_div li a:hover {
    top: -2px;
    border-bottom: 1.5px solid #27282c;
    transform: translateY(-0.5px);
}

.nav_team_name h1{
    font-family: ApercuBold;
}